@media only screen and (min-width: 1600px){
  body {
    margin: 10px 25vw;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1600px) {
  body {
    margin: 10px 10vw;
  }
}

body {
  background-image: url("bg.png");
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: #aa94bd
}

@media only screen and (min-height: 900px) {
  .content {
    min-height: 700px;
  }
}

@media only screen and (max-height: 900px) {
  .content {
    min-height: 500px;
  }
}

.content .sidenav{
  width: 100px;
  position: fixed;
  /*background-color: rgb(24, 24, 24);*/
}

.content .sidenav button {
  background-color: rgb(54, 54, 54);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  width: 150px;
}

.content .sidenav button:hover {
  background-color: rgb(107, 107, 107);
}

.content .sidenav .category {
  background-color: rgb(107, 107, 107);
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  color: white;
  width: 150px;
  margin-top: 5px; /* Seperates categories from each other */
}

.content .main{
  margin-left: 150px;
  padding: 10px 30px;
}

.footer {
  height: 50px;
}

/* HEADER */
.header {
  min-height: 80px;
}

.header img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
}

/* CONTENT */
/* Reduce absurdly huge h1-h6 margins */
.content .tabcontent h1,
.content .tabcontent h2,
.content .tabcontent h3,
.content .tabcontent h4,
.content .tabcontent h5,
.content .tabcontent h6 {
  margin-bottom: 5px;
  margin-top: 5px;
}

ul {
  padding-left: 0;
}

/* Everything is based on lists so they need to be without dots */
ul li {
  list-style-type: none;
}

.link-list {
  list-style-type: none;
  padding-left: 0px;
}

/* CLASSES */
.sm-icon {
  max-width: 70px;
}

.sm-icon-small {
  max-width: 40px;
}

.icon-flag {
  max-width: 20px;
}

.icon-new {
  max-width: 30px;
}

.list-description {
  margin-top: 3px;
}

/* Projects */
.project-list-icon {
  max-width: 50px;
}

/* FOOTER */
.footer {
  text-align: center;
}

.footer img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}