@media only screen and (min-width: 1600px){
  body {
    margin: 10px 25vw;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1600px) {
  body {
    margin: 10px 10vw;
  }
}

body {
  background-image: url("bg.png");
  color: white;
  font-family: monospace;
  font-size: 14px;
}

button {
  /* Buttons don't use font-family from body for some reason... */
  font-family: monospace;
}

a {
  color: #aa94bd
}

@media only screen and (min-height: 900px) {
  .content {
    min-height: 700px;
  }
}

@media only screen and (max-height: 900px) {
  .content {
    min-height: 500px;
  }
}

.content .sidenav{
  width: 100px;
  position: fixed;
}

.content .sidenav button {
  background-color: rgb(54, 54, 54);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  width: 150px;
}

.content .sidenav button.last {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-bottom: 7px; /* Seperates categories from each other */
}

.content .sidenav button:hover {
  background-color: rgb(107, 107, 107);
}

.content .sidenav .category {
  background-color: rgb(107, 107, 107);
  text-align: center;
  font-size: 14px;
  padding: 5px 0;
  color: white;
  width: 150px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.content .main{
  margin: 2px 30px 2px 180px;
  padding: 0px 15px 15px 15px;
  background-color: rgb(54, 54, 54);
  border: none; /* Required for radius to work */
  border-radius: 7px
}

.content .main h1 {
  background-color: rgb(107, 107, 107);
  /* CSS Magic */
  margin: 0px -15px 0px -15px;
  padding: 0px 15px 3px 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.footer {
  height: 50px;
}

/* HEADER */
.header {
  min-height: 80px;
}

.header img{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
}

/* CONTENT */
/* Reduce absurdly huge h1-h6 margins */
.content .tabcontent h1,
.content .tabcontent h2,
.content .tabcontent h3,
.content .tabcontent h4,
.content .tabcontent h5,
.content .tabcontent h6 {
  margin-bottom: 2px;
}

/* Same but for paragraphs */
.content .tabcontent p {
  margin-top: 2px;
}

/* FOOTER */
.footer {
  text-align: center;
}

.footer img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
ul {
  padding-left: 0;
}

/* Everything is based on lists so they need to be without dots */
ul li {
  list-style-type: none;
}

.link-list {
  list-style-type: none;
  padding-left: 0px;
}

/* CLASSES */
.sm-icon {
  max-width: 70px;
}

.sm-icon-small {
  max-width: 40px;
}

.icon-flag {
  max-width: 20px;
}

.icon-new {
  max-width: 30px;
}

.list-description {
  margin-top: 3px;
}
